body{
 
      display: flex;
      flex-direction: column;
     
    
}
main{
    display: flex;
    flex-direction: row;
    flex: auto;
}
article{
    flex: 2;
    overflow-y: auto;
}
aside{
    flex: 1;
    overflow-y: auto;
    background: linear-gradient(
        53deg,
        #ccfffc,
        #ffcccf,
        #2E6784
      );
} 
header{
    position: static; 
}
p{
    text-align: justify;
}